<div id="<%= dom_id menu %>">
	<tbody>
		<tr>
			<td>
		    <%= link_to menu.name, menu %>
		  </td>
		
		  <td>
		    <%= menu.description %>
		  </td>
		
		  <td>
		    <%= menu.price %>
		  </td>
		</tr>	
	</tbody>
</div>
