<h1>Menus</h1>

<div id="menus">
	<table>
		<tr>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Price
			</th>
		</tr>
		<% @menus.each do |menu| %>
    <%= render menu %>
  <% end %>
	</table>

</div>

<% if current_user.admin %>		
<%= link_to "New menu", new_menu_path %>
<% end %>